
.ui.card:first-child {
  margin-top: 1em;
}

.ui.card {
  margin-left: 50px;
  margin-right: 50px;
  min-width: 350px;
  margin-bottom:5em;
  border:white;
  border-color: transparent;
  min-height: 500px;
  border:none

  

}
.recipe-image {

  height: 400px;
  max-height: 400px;
  width: 450px;
  max-width: 450px;
  Align-Items: center;
  Justify-Content: centre;
  overflow: hidden;
}


.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
  border: none;
  display: block;
  margin-left: 32px;
  margin-top:30px;
  margin-right: auto;
  border: white;
  border-color: transparent;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  display: block;
  width: 75%;
  height: auto;
  border-radius: inherit;
}

.ui.card, .ui.cards>.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 400px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 1px 3px 0 black, 0 0 0 1px black;
  box-shadow: 0 1px 3px 0 black, 0 0 0 1px black;
  -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  z-index: '';
}

.card + .card {
  margin: 0 5 0 5px;
 }

 .container {
  padding: 0px;
 }


.Card {
  overflow: hidden;

}

.recipe-image:hover{
  transform: scale(1.05);

}

.App-logo {
  height: 210px;
}

/*
.Card {

  width: 350;
  height: 5000;
  marginLeft: 20;
  marginRight: 20;
  max-height: 700px;
  min-height: 700px;
  padding-bottom: 2rem;
  border-radius: 5px;
  
}
*/

.view-recipe-button {
  background-color: white;
  color: #222;
}


.ui.inverted.black.button, .ui.inverted.black.buttons .button {
  background-color: black;
  -webkit-box-shadow: 0 0 0 2px #d4d4d5 inset!important;
  box-shadow: 0 0 0 2px #d4d4d5 inset!important;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

.ui.card>.extra a:not(.ui), .ui.cards>.card>.extra a:not(.ui) {
  color: black;
  border-color: transparent;
}


.ui.card>.content>.meta+.description{

  color: black;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px

}

.ui.card .meta, .ui.cards>.card .meta {
  font-size: 1.05em;
  color: #1b1c1d;
  line-height: 1.4em;
}

.ui.card>.content, .ui.cards>.card>.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  border-top: 1px solid white(34,36,38,.1);
  border: white;
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
  border-color: transparent;
}


.ui.card>.image, .ui.cards>.card>.image {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0,0,0,.05);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.ui.card>.image, .ui.cards>.card>.image {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  background: white;
  border-color: transparent;
}

.ui.card {
  margin: 1em 0;
  margin-top: 1em;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  border-color: transparent;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  max-width: 100%;
  min-height: 0!important;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-top: solid white;
  border-right: white;
  border: white;
  position: static;
  background: 0 0;
  width: auto;
  margin: 0 0;
  padding: .75em 1em;
  top: 0;
  left: 0;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  border-color: transparent;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  max-width: 100%;
  min-height: 0!important;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-top: white!important;
  position: static;
  background: 0 0;
  width: auto;
  margin: 0 0;
  padding: .75em 1em;
  top: 0;
  left: 0;
  color: rgba(0,0,0,.4);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

element.style {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  
}